{% extends 'base.html.twig' %}

{% block title %}Test
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		{% if allAnswerQuestion is defined %}
			{% for answer_question in allAnswerQuestion %}
				<h4>{{ answer_question.question_text }}</h4>
				{% set answers = answer_question.answer_text|split(',') %}
				{% for answer in answers %}
					<input type="radio" name="_answer_{{ loop.parent.loop.index }}" value="{{ answer }}">{{ answer }}</input><br>
			{% endfor %}
			<hr>
		{% endfor %}
		<a href="#" id="view">Voir score</a>
	{% endif %}
	<h1 id="score" style="text-align: center;"></h1>
</div>{% endblock %}
