{% extends 'base.html.twig' %}

{% block title %}Nouveau question
{% endblock %}

{% block body %}

	<div>
		<h3>Ajouter nouveau question</h3>
		{{form_start(form)}}
		<div>
			<label>Sujet</label>
			{{ form_widget(form.text) }}
		</div>
		<div>
			{{ form_widget(form.questionGroupLevel) }}
		</div>
		<div>
			<button>Ajouter</button>
		</div>
		{{form_end(form)}}
	</div>

{% endblock %}
